body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}
.container {
  width: 95%;
  max-width: 680px;
  margin: auto;
  padding: 20px;
}
header {
  background: #000000;
  color: #fff;
  /* padding: 10px 0; */
  position: sticky;
  top: 0; 
  z-index: 1000;
  transition: top 0.2s ease;
}
header .container {
  display: flex;
  max-width: 1800px;
  justify-content: space-between;
  align-items: center;
 padding: 10px;
}
header h1 {
  margin: 0;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
}
.hidden-header {
  top: -100px; 
}
.author {
  font-size: 14px;
  font-weight: bold;
}
  h2 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 800;
  }
  .subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
    font-weight: 500;
  }
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0;
  }

  h3 {
    font-size: 22px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  p, li {
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: serif;
  }
  .diagram {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .diagram img {
    max-width: 100%;
    height: auto;
  }

  .article-image figcaption {
    font-size: 10px;
    color: #555;
    margin-top: 5px;
  }

  footer {
    padding: 2rem 0;
    background-color: #000000;
    height: 20vh;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    color: white;
  }
  
  .social-links {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
    padding: 0rem 1rem;
    border: 1px solid var(--gray-color);
    border-radius: 20px;
    font-size: 0.8rem;
  }
  
  .copyright {
    margin-top: 0%;
    font-size: 0.8rem;
    color: var(--gray-color);
  }